# Environnement.env# Python__pycache__/*.py[cod].pytest_cache/# Jupyter.ipynb_checkpoints/# Base de données SQLite*.dbpredictions.db# Couverture de tests.coveragehtmlcov/data/model.pkldata/train_dataset.csv